body{
    margin: 0;
    height: 100%;
}

header{
    background-color: rgb(42, 42, 42);
    color: white;
    text-align: center;
    vertical-align: text-bottom;
    height: 70px;
}

header h1 {
    padding-top: 10px;
}

.container-fluid{
    background-color: rgb(255, 253, 247);
}

aside{
    border: solid 1px black;
    background-color: rgb(228, 228, 228);
}

#cityInfo{
    margin-top: 25px;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 25px;
}

#mainContent {
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
}

.cityBtns {
    background-color: white;
    height: 50px;
    width: 90%;
    text-align: left;
    text-indent: 10px;
    color: grey;
    font-weight: 400;
    border: 1px solid grey;
}

.cityBtnTop {
    border-radius: 5px 5px 0 0;
}

.cityBtnBtm {
    border-radius: 0 0 5px 5px;
}

#forecastCards {
    display: flex;
    flex-direction: row;
    
}


.weatherCard{
    flex-basis: 20%;
    border: 2px solid black;
    color: white;
    padding: 5px;
    margin: 20px;
    width:10%;
    border-radius: 5px;
    background-color: #2679ff;
}

.cityCol {
    margin-bottom: 30px;
}

#uvIndex{
    width: 10px;
    border-radius: 5px;
    color: white;
    padding: 3px;
}


/* Style the search field */
form#cityForm input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #ffffff;
    margin-bottom: 15px;
  }
  
  /* Style the submit button */
  form#cityForm button {
    float: left;
    width: 13%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius:0 5px 5px 0;
  }
  
  form#cityForm button:hover {
    background: #0b7dda;
  }

  /* Clear floats 
form#cityForm::after {
    content: "";
    clear: both;
    display: table;
  }

  */