body{
    margin: 0;
    height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

header{
    background-color: #2679ff;
    color: white;
    text-align: center;
    vertical-align: text-bottom;
    height: 70px;
}

.search-font {
    padding-top: 2px;
    font-weight: bold;
    color: #2679ff;
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
}

.forecast-title {
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
    color: #2679ff;
}

header h1 {
    font-weight: bolder;
    padding-top: 10px;
}



.container-fluid{
    background-color: rgb(255, 253, 247);
}

aside{
    border: solid 1px black;
    background-color: rgb(228, 228, 228);
}

#cityInfo{
    margin-top: 25px;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 25px;

}

#mainContent {
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
    
}

.cityBtns {
    background-color: white;
    height: 50px;
    width: 90%;
    text-align: left;
    text-indent: 10px;
    color: grey;
    font-weight: 400;
    border: 1px solid grey;
}



.cityBtnTop {
    border-radius: 5px 5px 0 0;
}

.cityBtnBtm {
    border-radius: 0 0 5px 5px;
}

#forecastCards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#forecastInfo {

    height: auto;
}


.weatherCard{
    flex-basis: 20%;
    border: 2px solid black;
    color: white;
    padding: 5px;
    margin: 20px;
    width:auto;
    border-radius: 5px;
    background-color: #2679ff;
}

.cityCol {
    margin-bottom: 30px;
}

#uvIndex{
    width: 10px;
    border-radius: 5px;
    color: white;
    padding: 3px;
}


/* Style the search field */
form#cityForm input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #ffffff;
    margin-bottom: 15px;
  }
  
  /* Style the submit button */
  form#cityForm button {
    float: left;
    width: 13%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius:0 5px 5px 0;
  }
  
  form#cityForm button:hover {
    background: #0b7dda;
  }

  /* Clear floats 
form#cityForm::after {
    content: "";
    clear: both;
    display: table;
  }

  */

  /* Title */
.cardTitle {
    font-size: 1.2em; /* Relative font size */
    font-weight: bold;
}

.scroll-container {
    overflow-x: auto; /* Enable horizontal scrolling */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Reduce base font size for smaller screens */
    }

    /* Adjust card width and font size for smaller screens */
    .weatherCard {
        width: 20%;
    }
    .cardTitle {
        font-size: 1em;
    }
    .weatherContent {
        font-size: 0.9em;
    }

    /* Reduce font size for search input text */
     form#cityForm input[type=text] {
        font-size: 14px;
    }
    
    /* Reduce font size for search prompt */
    .search-font {
        font-size: 14px;
    }

    .forecast-title {
        font-size: 20px;
    }

    form#cityForm button i {
        font-size: 10px;
        padding: 0px;
    }


}